
body {
background-color: #6a040f;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

.nome-pagina {
  font-family: Georgia,  serif;
  color: #faedcd;
}

.libro {
padding-top: 10px;
font-size: 30px;
font-weight: 700;
}

.citazione {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #d7cac1;
  font-style: italic;
  margin-bottom: 5px;
}

.img-filosofo {
  border-radius: 20px;
  box-shadow: 0px 5px 5px rgba(255, 255, 255, 0.2);
}

.btn-index {
  display: flex;
  justify-content: center;
}

.btn-grad {
  background: #053738;
}

.btn-grad {
  width: 120px;
  margin: 10px;
  text-transform: uppercase;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 5px #eee;
  border-radius: 10px;
  display: block;
  outline: none;
  border: none;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}